/*RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*BOX MODEL */

div, header, footer, aside, section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* COLORS
MENU : #729fcf;
CONTOURS ET TITRES : #64B5F6
HR : #BBDEFB;
TEXTE SECONDAIRE : #808080; */

/* GLOBAL */
html {
	scroll-behavior: smooth;
}

.wrapper {
	width: 100%;
}

@media (max-width: 800px) {
	.wrapper {
		width: 767px;
	}
	.html {
		background-color: black !important;
	}
	hr {
		width: 640px !important;
	}
	.mainpic {
		background-image: url("../img/neo3_tablette.jpg") !important;
	}
}

hr {
	border-top: 0.2px solid #BBDEFB !important;
	width: 1200px;
}

h2 {
	font-family: Raleway !important;
	color: #729fcf !important;
	text-align: center;
	margin: 20px 20px 20px 20px !important;
	font-size: 3em !important;
}

div::after {
	content: "";
	display: block;
	clear: both;
}

/* HEADER */
.mainpic {
	height: 100vh;
	background-image: url("../img/neo3.jpg");
	background-repeat: no-repeat;
	background-position: center center;
}

.name {
	display: block;
	font-family: Ubuntu;
	color: white;
	text-align: center;
	padding-top: 120px;
	font-size: 6em;
}

.undertitle {
	display: block;
	text-align: center;
	margin-top: 170px;
	font-family: Ubuntu;
	color: white;
	font-size: 3em;
}

.fleche {
	display: block;
	margin: auto;
	margin-top: 55px;
}

@media (max-width: 800px) {
	.name {

	}
	.undertitle {
		margin-top: 100px;
	}
	.fleche {
		margin-top: 60px;
	}
}

/*sticky*/
.fixed {
	  position: fixed;
    top: 0;
}

/* Animation du lien */
.header_nav a:after {
	content: "";
	position: absolute;
	/* Préparation de notre animation */
	opacity: 0;
	transform: translateY(4px);
	transition: all .5s;
}
/* Le trait va remonter et apparaitre */
.header_nav a:hover:after,
.header_nav a:focus:after {
	opacity: .6;
	transform: translateY(0);
}



/* MENU HEADER */
nav {
	background-color: #729fcf;
	text-decoration: none;
	height: 50px;
	z-index: 100;
}

.menuhover {
	background-color: #BBDEFB;
	display: none;
}

.menuhover:hover {
	display: block;
}

ul {
  text-align: justify;
  list-style: none;
  list-style-image: none;
  margin: 0;
	line-height: 50px;
	margin-left: 200px;
	margin-right: 200px;
	font-size: 22px;
}
ul:after {
  content: "";
  margin-left: 100%;
}
li {
  display: inline;
	text-transform: uppercase;
}
#mainmenu {
	color: white !important;
  display: inline-block;
	text-decoration: none !important;
}

@media (max-width: 800px) {
	ul {
		margin-left: 50px;
		margin-right: 50px;
	}
}

/* PRESENTATION */
.presentation {
	margin-top: 60px;
	margin-left: 140px;
	padding-bottom: 50px;
}

.picture {
	float: left;
}

.romain {
	padding-top: 6px;
}

.descrip {
	margin-left: 95px;
	width: 400px;
	float: left;
	text-align: justify;
	font-family: Roboto;
	font-size: 19px;
}

.centreinteret {
	width: 300px;
	float: left;
	margin-left: 100px;
	margin-top: -2px;
}

.interest {
	font-size: 20px;
}

.imginterest {
	margin-top: 8px;
	margin-left: 11px;
}

@media (max-width: 800px) {
	.picture {
		width: 542px;
		margin-left: -25px;
	}
	.romain {
		display: block;
		margin: 0 auto;
	}
	.descrip {
		text-align: justify;
		margin-top: 32px;
		margin-left: 44px;
		font-size: 21px;
	}
	.centreinteret {
		margin-top: 42px;
		margin-left: 148px;
	}
	.interest {
		font-size: 22px !important;
	}
	.imginterest {
		margin-left: 17px;
	}
}


/* COMPETENCES */
.fa {
	transform: scale(2.2, 2.2);
}
.fa-code, .fa-pencil-square-o, .fa-language {
	color: #729fcf;
	margin-left: 115px;
	padding-bottom: 18px;
}


.competences {
	margin-top: 53px;
	padding-bottom: 40px;
	font-family: Roboto;
}

.code {
	float: left;
	width: 250px;
	margin-left: 17.5%;
	margin-top: 40px;
	text-align: justify;
	font-size: 20px;
}

.design, .language {
	margin-left: 80px;
	float: left;
	width: 250px;
	margin-top: 40px;
	text-align: justify;
	font-size: 20px;
}

@media (max-width: 800px) {
	.code, .design, .language {
		font-size: 16px;
		width: 160px;
		text-align: center;
	}
	.code {
		margin-left: 60px;
	}
	.fa-code, .fa-pencil-square-o, .fa-language {
		color: #729fcf;
		margin-left: 5px;
		padding-bottom: 18px;
	}
}

/* PORTFOLIO */
.portfolio {
	margin-top: 60px;
	padding-bottom: 40px;
}

.thumbnail-grid {
	user-select: none;
}
.thumbnail-grid figure {
	position: relative;
	width: 300px;
	height: 200px;
	border-radius: 3px;
	box-shadow: inset 0 -40px 0 0 rgba(0,0,0,.4);
	transition: all .2s ease-in-out
}
.thumbnail-grid figure:hover {
	box-shadow: inset 0 -200px 0 0 rgba(0,0,0,.7)
}
.thumbnail-grid figcaption {
	position: absolute;
	width: 100%;
	font-weight: 300;
	text-align: center;
	color: #f4f4f4;
	text-shadow: 0 0 4px #000;
	bottom: 10px;
	transition: all .2s ease-in-out
}
.thumbnail-grid figure:hover figcaption {
	bottom: 80px;
	font-family: Roboto;
	font-size: 1.5em;
}
.flex {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch
}


/* MINIATURE */
.thumbnail-grid figure.i1 {
	margin-left: 90px;
	background: url(../img/portfolio/bulles.png) no-repeat center;
	background-size: cover
}
.thumbnail-grid figure.i2 {
	background: url(../img/portfolio/appliphp.jpg) no-repeat center;
	background-size: cover
}
.thumbnail-grid figure.i3 {
	background: url(../img/portfolio/miniaturefilm.JPG) no-repeat center;
	background-size: cover
}
.thumbnail-grid figure.i4 {
	margin-left: 90px;
	background: url(../img/portfolio/logo.png) no-repeat center;
	background-size: cover
}
.thumbnail-grid figure.i5 {
	background: url(../img/portfolio/pictosbureau.jpg) no-repeat center;
	background-size: cover
}
.thumbnail-grid figure.i6 {
	background: url(../img/portfolio/pictosgarage.png) no-repeat center;
	background-size: cover
}

@media (max-width: 800px) {
	.thumbnail-grid figure.i1 {
	 margin-left: 10px;
	 background: url(../img/portfolio/bulles.png) no-repeat center;
	 background-size: cover
	}
	.thumbnail-grid figure.i3 {
		margin-top: 30px;
		margin-left: -90px;
		background: url(../img/portfolio/miniaturefilm.JPG) no-repeat center;
		background-size: cover
	}
	.thumbnail-grid figure.i5 {
		margin-left: -20px;
		margin-top: -240px;
		background: url(../img/portfolio/pictosbureau.jpg) no-repeat center;
		background-size: cover
	}
	.thumbnail-grid figure.i4 {
		margin-top: 30px;
		margin-left: 0px;
		background: url(../img/portfolio/logo.png) no-repeat center;
		background-size: cover
	}
	.thumbnail-grid figure.i6 {
		margin-top: -200px;
		margin-left: 400px;
		background: url(../img/portfolio/pictosgarage.png) no-repeat center;
		background-size: cover
	}
}

/* PARCOURS */
.parcours {
	margin-top: 60px;
	padding-bottom: 40px;
	font-family: Roboto;
}

.date {
	float: left;
	margin-left: 13.5%;
	display: block;
	margin-top: 40px;
	text-align: center;
}
/* .border {
	border: 1px solid #BBDEFB;
	border-radius: 3px;
}*/

@media (max-width: 800px) {
	.date {
		margin-left: 80px;
		font-size: 12px;
		float: left;
	}
	.details_lycee {
		width: 130px;
	}
	.div_etudes {
		margin-left: 130px !important;
		width: 360px !important;
	}
	#duree_responsive {
		padding-top: 75px;
	}
}

.duree {
	display: block;
	font-size: 23px;
}

.details_lycee {
	display: block;
	color: #808080;
	text-align: center;
	margin-top: -18px;
	padding-bottom: 19.5%;
}

.details {
	display: block;
	color: #808080;
	font-size: 16px;
	padding-bottom: 4%;
}

.etude {
	font-size: 23px;
}

.div_etudes {
	float: left;
	width: 549px;
	margin-left: 230px;
	margin-top: 40px;
}

/* FORMULAIRE */

.formulaire {
	margin-top: 60px;
}
form {
	 float: left;
	 max-width:420px;
	 margin:50px auto;
	 margin-left: 16.5%;
}

.feedback-input {
  font-family: Ubuntu;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #BBDEFB;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #BBDEFB; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: Ubuntu;
  width: 100%;
  background: #64B5F6;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:900;
}
[type="submit"]:hover { background: #90CAF9; }

/* INFOS PERSO */
.infosperso {
	float: left;
	width: 300px;
	margin-left: 100px;
	margin-top: 3.8%;
}


.phone, .twitter, .github, .dlcv {
	margin-top: 35px;
}

.personnal {
	margin-left: 25px;
	font-family: Roboto;
	font-size: 1.2em;
}

.fa-mobile  {
	transform: scale(3.6, 3.6);
	margin-left: 4px;
}

.dlcv {
	display: block;
	width: 300px;
	text-align: center;
	float: left;
	margin-left: 55px;
	margin-top: 43px;
	text-decoration: none;
}

@media (max-width: 800px)
{
	form {
		display: block;
		width: 480px;
		margin-left: 170px;
	}
	.infosperso {
		margin-left: 110px !important;
		padding-bottom: 40px;
	}
	.dlcv {
		float: left;
		width: 300px;
		margin-top: 70px !important;
		display: block;
		text-align: center;
		margin-left: auto;
	}
}
div.dlcv>a {
	margin-top: 10px;
	font-family: Ubuntu;
}

/* FOOTER  */
footer {
	background-color: #808080;
	height: 3em;
	font-size: 1.2em;
	color: white;
	font-family: Roboto;
}

#rights {
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	line-height: 3em;
}
